* {
  margin: 0;
  padding: 0;
}
body {
font-family: 'Courier New', Courier, monospace;
transition: background-color 0.3s, color 0.3s;
}
.app {
min-height: 100vh;
display: flex;
flex-direction: column;
}
.dark-mode {
background-color: #222;
color: rgb(197, 197, 197);
}